In [ ]:
name = "Sanya khare"
enrollment = "TCA235704"
print(name,"",enrollment)

Name: Satwik
Enrollment Number: TCA2357046

In [8]:

import numpy as np

data = np.genfromtxt("train_and_test2.csv", delimiter=",", skip_header=1)

In [9]:
null_mask = np.isnan(data)

print("Null values present:", np.any(null_mask))
print("Number of null values:", np.sum(null_mask))

Null values present: True
Number of null values: 2

In [10]:
# Keep only rows without any NaN
data_no_null = data[~np.isnan(data).any(axis=1)]

print("Shape after removing null rows:", data_no_null.shape)

Shape after removing null rows: (1307, 28)

In [11]:
Q1 = np.percentile(data_no_null, 25, axis=0)
Q3 = np.percentile(data_no_null, 75, axis=0)

IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [12]:
# Keep rows where all values are within bounds
outlier_mask = np.all(
    (data_no_null >= lower_bound) & (data_no_null <= upper_bound),
    axis=1
)

clean_data = data_no_null[outlier_mask]

print("Shape after removing outliers:", clean_data.shape)

Shape after removing outliers: (858, 28)